body {
  min-height: auto;
}
.jumbotron {
  padding: 5rem 1rem;
  background-color: #202020;
  color: #fff;
}
.carousel {
  background-color: #202020;
  color: #fff;
}
#projects {
  background-color: #202020;
}
.signin {
  padding: 5rem 1rem;
  background-color: #202020;
  color: #fff;
}
.signup {
  padding: 5rem 1rem;
  background-color: #202020;
  color: #fff;
}
